* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
  background-color: #008080;
  height: 60px;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__input {
  border: none;
  width: 33%;
  background-color: #f0eeee;
  border-radius: 100px;
  transition: width 0.2s;
  margin-right: -50px;
  margin-top: 10px;
  padding: 8px 30px;
}
.header__input:focus {
  width: 40%;
}

.header__button {
  background: none;
  border: none;
}

.header__img {
  margin-top: 12px;
  width: 20px;
  height: 20px;
}

/* main */
.main__content {
  width: 90%;
  margin: auto;
}

.main__desc {
  width: 90%;
  padding: 1rem;
  color: #222222;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #008080;
  margin: auto auto 1rem;
}

.main__cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.main__card {
  background-color: #f0eeee;
  border: 1px solid #008080;
  border-radius: 3px;
  flex: 0 0 10rem;
  height: 250px;
  overflow: hidden;
}

.main__card--img {
  padding: 0.5rem;
  display: block;
  margin:auto;
  width: 90%;
  height: 46%;
}

.main__card--desc {
  color: #222222;
  text-align: center;
  padding: 0 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: -0.3rem;
}

@media (max-width: 400px) {
  .header__input {
    margin-right: -35px;
    padding: 8px 10px;
  }
}
